<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <a href="{{ url_for('main_table.add_record') }}" class="custom-link">Add New Record</a>
    <br> 
    <a href="{{ url_for('main_table.add_multiple_records') }}" class="custom-link">Add Multiple Records</a>
    <table class="styled-table" border="1">
        <thead>
            <tr>
                <th>User</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Year</th>
                <th>Month</th>
                <th>Day</th>
                <th>Value</th>
                <th>Payment Method</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td data-label="User">{{ record.user.username }}</td>
                <td data-label="Category">{{ record.category.category_name }}</td>
                <td data-label="Sub Category">{{ record.sub_category.sub_category_name }}</td>
                <td data-label="Year">{{ record.year }}</td>
                <td data-label="Month">{{ record.month }}</td>
                <td data-label="Day">{{ record.day }}</td>
                <td data-label="Value">{{ record.value }}</td>
                <td data-label="Payment Method">{{ record.payment_method.method_name }}</td>
                <td data-label="Description">{{ record.description }}</td>
                <td data-label="Date Added">{{ record.date_added }}</td>
                <td data-label="Actions">
                    <a href="{{ url_for('main_table.edit_record', record_id=record.record_id) }}" class="custom-edit-link">Edit</a> |
                    <form action="{{ url_for('main_table.delete_record', record_id=record.record_id) }}" method="POST" class="custom-delete-form" onsubmit="return confirmDelete();">
                        <button type="submit" class="custom-delete-button">Delete</button>
                    </form>                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}" class="custom-link">Back to Index</a>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>
