<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <a href="{{ url_for('categories.add_category') }}">Add Category</a>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.category_name }}</td>
                <td>
                    <a href="{{ url_for('categories.view_category_subcategories', category_id=category.category_id) }}" class="custom-edit-link">View Subcategories</a> |
                    <form action="{{ url_for('categories.delete_category', category_id=category.category_id) }}" method="POST" class="custom-delete-form" onsubmit="return confirmDelete();">
                        <button type="submit" class="custom-delete-button">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Back to Index</a>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>
